In [304]:
import pandas as pd

In [305]:
df = pd.read_csv('./oasis_cross-sectional.csv')

In [306]:
df

,ID,M/F,Hand,Age,Educ,SES,MMSE,CDR,eTIV,nWBV,ASF,Delay
0,OAS1_0001_MR1,F,R,74,2.0,3.0,29.0,0.0,1344,0.743,1.306,NaN
1,OAS1_0002_MR1,F,R,55,4.0,1.0,29.0,0.0,1147,0.810,1.531,NaN
2,OAS1_0003_MR1,F,R,73,4.0,3.0,27.0,0.5,1454,0.708,1.207,NaN
3,OAS1_0004_MR1,M,R,28,NaN,NaN,NaN,NaN,1588,0.803,1.105,NaN
4,OAS1_0005_MR1,M,R,18,NaN,NaN,NaN,NaN,1737,0.848,1.010,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
431,OAS1_0285_MR2,M,R,20,NaN,NaN,NaN,NaN,1469,0.847,1.195,2.0
432,OAS1_0353_MR2,M,R,22,NaN,NaN,NaN,NaN,1684,0.790,1.042,40.0
433,OAS1_0368_MR2,M,R,22,NaN,NaN,NaN,NaN,1580,0.856,1.111,89.0
434,OAS1_0379_MR2,F,R,20,NaN,NaN,NaN,NaN,1262,0.861,1.390,2.0
435,OAS1_0395_MR2,F,R,26,NaN,NaN,NaN,NaN,1283,0.834,1.368,39.0

In [307]:
# removed Delay and Hand as they seem insignificant 
df.drop(["Hand", "Delay"], axis = 1, inplace = True)

# remove ID, N/A rows, and CDR of 0.5 and 2 
df.dropna(inplace = True)
df.drop(["ID"], axis = 1, inplace = True)
df = df[df["CDR"] != 0.5]
df = df[df["CDR"] != 2]

# It's very unlikely for people below age 65 to get AD
df = df[df["Age"] >= 65]

# I noticed none with 30.0 MMSE have CDR 1, so let's drop it
df = df[df["MMSE"] < 30]

# Not sure if this is correct
df = df[df["eTIV"] < 1750]
df = df[df["nWBV"] < 0.8]
df = df[df["ASF"] < 1.4]
df # 68 x 9

    M/F  Age  Educ  SES  MMSE  CDR  eTIV   nWBV    ASF
0     F   74   2.0  3.0  29.0  0.0  1344  0.743  1.306
25    F   86   2.0  4.0  27.0  1.0  1449  0.738  1.211
27    F   65   2.0  3.0  29.0  0.0  1392  0.764  1.261
28    M   88   1.0  4.0  26.0  1.0  1419  0.674  1.236
29    M   89   4.0  1.0  28.0  0.0  1631  0.682  1.076
..   ..  ...   ...  ...   ...  ...   ...    ...    ...
386   F   82   5.0  2.0  29.0  0.0  1316  0.791  1.334
387   F   84   4.0  3.0  28.0  0.0  1500  0.751  1.170
389   M   71   4.0  1.0  17.0  1.0  1562  0.687  1.123
403   F   90   1.0  2.0  29.0  0.0  1362  0.673  1.289
410   M   75   1.0  4.0  22.0  1.0  1656  0.762  1.060

[68 rows x 9 columns]