In [1]:
import pandas as pd

In [2]:
oasis = pd.read_csv('./oasis_cross-sectional.csv')

In [3]:
oasis

,ID,M/F,Hand,Age,Educ,SES,MMSE,CDR,eTIV,nWBV,ASF,Delay
0,OAS1_0001_MR1,F,R,74,2.0,3.0,29.0,0.0,1344,0.743,1.306,NaN
1,OAS1_0002_MR1,F,R,55,4.0,1.0,29.0,0.0,1147,0.810,1.531,NaN
2,OAS1_0003_MR1,F,R,73,4.0,3.0,27.0,0.5,1454,0.708,1.207,NaN
3,OAS1_0004_MR1,M,R,28,NaN,NaN,NaN,NaN,1588,0.803,1.105,NaN
4,OAS1_0005_MR1,M,R,18,NaN,NaN,NaN,NaN,1737,0.848,1.010,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
431,OAS1_0285_MR2,M,R,20,NaN,NaN,NaN,NaN,1469,0.847,1.195,2.0
432,OAS1_0353_MR2,M,R,22,NaN,NaN,NaN,NaN,1684,0.790,1.042,40.0
433,OAS1_0368_MR2,M,R,22,NaN,NaN,NaN,NaN,1580,0.856,1.111,89.0
434,OAS1_0379_MR2,F,R,20,NaN,NaN,NaN,NaN,1262,0.861,1.390,2.0
435,OAS1_0395_MR2,F,R,26,NaN,NaN,NaN,NaN,1283,0.834,1.368,39.0

In [4]:
diagnosed_and_clear_df = oasis[oasis["CDR"] <= 1]

In [5]:
diagnosed_and_clear_df

,ID,M/F,Hand,Age,Educ,SES,MMSE,CDR,eTIV,nWBV,ASF,Delay
0,OAS1_0001_MR1,F,R,74,2.0,3.0,29.0,0.0,1344,0.743,1.306,NaN
1,OAS1_0002_MR1,F,R,55,4.0,1.0,29.0,0.0,1147,0.810,1.531,NaN
2,OAS1_0003_MR1,F,R,73,4.0,3.0,27.0,0.5,1454,0.708,1.207,NaN
8,OAS1_0010_MR1,M,R,74,5.0,2.0,30.0,0.0,1636,0.689,1.073,NaN
9,OAS1_0011_MR1,F,R,52,3.0,2.0,30.0,0.0,1321,0.827,1.329,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
411,OAS1_0453_MR1,F,R,70,1.0,4.0,29.0,0.5,1295,0.748,1.355,NaN
412,OAS1_0454_MR1,F,R,73,3.0,2.0,23.0,0.5,1536,0.730,1.142,NaN
413,OAS1_0455_MR1,F,R,61,2.0,4.0,28.0,0.0,1354,0.825,1.297,NaN
414,OAS1_0456_MR1,M,R,61,5.0,2.0,30.0,0.0,1637,0.780,1.072,NaN
415,OAS1_0457_MR1,F,R,62,3.0,3.0,26.0,0.0,1372,0.766,1.279,NaN

In [6]:
diagnosed_and_clear_df.shape

(233, 12)

In [7]:
diagnosed_and_clear_df = oasis[oasis["CDR"] >= 0]
diagnosed_and_clear_df = oasis[oasis["CDR"] != 0.5]

In [8]:
diagnosed_and_clear_df

,ID,M/F,Hand,Age,Educ,SES,MMSE,CDR,eTIV,nWBV,ASF,Delay
0,OAS1_0001_MR1,F,R,74,2.0,3.0,29.0,0.0,1344,0.743,1.306,NaN
1,OAS1_0002_MR1,F,R,55,4.0,1.0,29.0,0.0,1147,0.810,1.531,NaN
3,OAS1_0004_MR1,M,R,28,NaN,NaN,NaN,NaN,1588,0.803,1.105,NaN
4,OAS1_0005_MR1,M,R,18,NaN,NaN,NaN,NaN,1737,0.848,1.010,NaN
5,OAS1_0006_MR1,F,R,24,NaN,NaN,NaN,NaN,1131,0.862,1.551,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
431,OAS1_0285_MR2,M,R,20,NaN,NaN,NaN,NaN,1469,0.847,1.195,2.0
432,OAS1_0353_MR2,M,R,22,NaN,NaN,NaN,NaN,1684,0.790,1.042,40.0
433,OAS1_0368_MR2,M,R,22,NaN,NaN,NaN,NaN,1580,0.856,1.111,89.0
434,OAS1_0379_MR2,F,R,20,NaN,NaN,NaN,NaN,1262,0.861,1.390,2.0
435,OAS1_0395_MR2,F,R,26,NaN,NaN,NaN,NaN,1283,0.834,1.368,39.0

In [9]:
diagnosed_df = oasis[oasis["CDR"] == 1]

In [10]:
diagnosed_df

,ID,M/F,Hand,Age,Educ,SES,MMSE,CDR,eTIV,nWBV,ASF,Delay
25,OAS1_0028_MR1,F,R,86,2.0,4.0,27.0,1.0,1449,0.738,1.211,NaN
28,OAS1_0031_MR1,M,R,88,1.0,4.0,26.0,1.0,1419,0.674,1.236,NaN
32,OAS1_0035_MR1,F,R,84,3.0,2.0,28.0,1.0,1402,0.695,1.252,NaN
47,OAS1_0052_MR1,F,R,78,1.0,5.0,23.0,1.0,1462,0.697,1.200,NaN
48,OAS1_0053_MR1,F,R,83,1.0,4.0,21.0,1.0,1384,0.699,1.268,NaN
51,OAS1_0056_MR1,F,R,72,3.0,3.0,15.0,1.0,1324,0.668,1.325,NaN
62,OAS1_0067_MR1,F,R,71,4.0,1.0,27.0,1.0,1549,0.730,1.133,NaN
68,OAS1_0073_MR1,F,R,69,2.0,4.0,21.0,1.0,1495,0.655,1.174,NaN
113,OAS1_0122_MR1,F,R,83,5.0,2.0,22.0,1.0,1377,0.715,1.274,NaN
124,OAS1_0134_MR1,M,R,80,2.0,4.0,20.0,1.0,1494,0.665,1.175,NaN
127,OAS1_0137_MR1,F,R,87,2.0,3.0,22.0,1.0,1499,0.672,1.171,NaN
169,OAS1_0184_MR1,F,R,65,2.0,NaN,16.0,1.0,1521,0.669,1.154,NaN
170,OAS1_0185_MR1,F,R,78,2.0,4.0,17.0,1.0,1314,0.739,1.336,NaN
203,OAS1_0223_MR1,M,R,84,2.0,NaN,20.0,1.0,1641,0.703,1.070,NaN
241,OAS1_0268_MR1,M,R,78,2.0,3.0,23.0,1.0,1491,0.715,1.177,NaN
242,OAS1_0269_MR1,F,R,72,1.0,4.0,21.0,1.0,1489,0.683,1.179,NaN
250,OAS1_0278_MR1,F,R,96,5.0,1.0,26.0,1.0,1465,0.684,1.198,NaN
263,OAS1_0291_MR1,F,R,73,2.0,2.0,19.0,1.0,1274,0.745,1.377,NaN
286,OAS1_0316_MR1,F,R,72,4.0,2.0,22.0,1.0,1493,0.690,1.176,NaN
337,OAS1_0373_MR1,F,R,80,3.0,2.0,20.0,1.0,1732,0.692,1.013,NaN
346,OAS1_0382_MR1,F,R,67,4.0,NaN,15.0,1.0,1288,0.763,1.362,NaN
352,OAS1_0388_MR1,F,R,77,2.0,4.0,22.0,1.0,1350,0.736,1.300,NaN
361,OAS1_0399_MR1,M,R,78,2.0,NaN,29.0,1.0,1569,0.706,1.119,NaN
367,OAS1_0405_MR1,M,R,77,5.0,1.0,23.0,1.0,1713,0.761,1.024,NaN
384,OAS1_0424_MR1,M,R,75,4.0,1.0,20.0,1.0,1613,0.715,1.088,NaN
385,OAS1_0425_MR1,F,R,78,1.0,4.0,23.0,1.0,1461,0.715,1.201,NaN
389,OAS1_0430_MR1,M,R,71,4.0,1.0,17.0,1.0,1562,0.687,1.123,NaN
410,OAS1_0452_MR1,M,R,75,1.0,4.0,22.0,1.0,1656,0.762,1.060,NaN

In [11]:
diagnosed_df.shape

(28, 12)