In [132]:
# Import Pandas Library for Data Preprocessing
import pandas as pd

In [133]:
# Read in the data of patients part of the OASIS dataset
patients = pd.read_csv('./oasis_cross-sectional.csv')

In [134]:
# Get the count, minimum, and maximim of each column for all the patients
patients.agg({"count", "min", "max"})

,ID,M/F,Hand,Age,Educ,SES,MMSE,CDR,eTIV,nWBV,ASF,Delay
min,OAS1_0001_MR1,F,R,18,1.0,1.0,14.0,0.0,1123,0.644,0.881,1.0
max,OAS1_0457_MR1,M,R,96,5.0,5.0,30.0,2.0,1992,0.893,1.563,89.0
count,436,436,436,436,235.0,216.0,235.0,235.0,436,436.000,436.000,20.0

In [135]:
# remove Gender, Delay, and Hand as they seem insignificant 
patients.drop(["M/F", "Hand", "Delay"], axis = 1, inplace = True)

In [136]:
# filter the patients diagnosed with Alzhiemer's Disease (AD)
ad = patients[patients['CDR'] == 1]

# Get the count, minimum, and maximim of each column for AD patients
ad.agg({"count", "min", "max"})

                  ID  Age  Educ   SES  MMSE   CDR  eTIV    nWBV     ASF
min    OAS1_0028_MR1   65   1.0   1.0  15.0   1.0  1274   0.655   1.013
max    OAS1_0452_MR1   96   5.0   5.0  29.0   1.0  1732   0.763   1.377
count             28   28  28.0  24.0  28.0  28.0    28  28.000  28.000

In [137]:
# filter the patients diagnosed with Typical Development (TD)
td = patients[patients['CDR'] == 0]

# Get the count, minimum, and maximim of each column for TD patients
td.agg({"count", "min", "max"})

                  ID  Age   Educ    SES   MMSE    CDR  eTIV     nWBV      ASF
min    OAS1_0001_MR1   33    1.0    1.0   25.0    0.0  1123    0.645    0.965
max    OAS1_0457_MR1   94    5.0    5.0   30.0    0.0  1818    0.847    1.563
count            135  135  135.0  133.0  135.0  135.0   135  135.000  135.000

In [138]:
# filter TD patients to above the age of 65 which is the min for AD
td = td[td['Age'] >= 65]

# filter TD patients to above the eTIV of 1480 which is the min for AD
td = td[td['eTIV'] >= 1480]

# filter TD patients to above the ASF of 1 which is the min for AD
td = td[td['ASF'] >= 1]

# Get the count, minimum, and maximim of each column for filtered TD patients
td.agg({"count", "min", "max"})

                  ID  Age  Educ   SES  MMSE   CDR  eTIV    nWBV     ASF
min    OAS1_0010_MR1   67   1.0   1.0  26.0   0.0  1483   0.676   1.003
max    OAS1_0428_MR1   91   5.0   4.0  30.0   0.0  1750   0.805   1.183
count             28   28  28.0  27.0  28.0  28.0    28  28.000  28.000

The Count of patients with AD and TD are now equal, 28

In [140]:
# Combine the AD and TD patients into one dataframe
filtered_patients = pd.concat([ad, td])

# Get the ids of the patients that we will be using for network analysis
filtered_patients_ids = filtered_patients['ID']

# Save the list of patient ids in a csv
filtered_patients_ids.to_csv('patient_ids.csv', index=False, columns=['ID'])

In [ ]:
diagnosed_and_clear_df = oasis[oasis["CDR"] <= 1]

In [5]:
diagnosed_and_clear_df

,ID,M/F,Hand,Age,Educ,SES,MMSE,CDR,eTIV,nWBV,ASF,Delay
0,OAS1_0001_MR1,F,R,74,2.0,3.0,29.0,0.0,1344,0.743,1.306,NaN
1,OAS1_0002_MR1,F,R,55,4.0,1.0,29.0,0.0,1147,0.810,1.531,NaN
2,OAS1_0003_MR1,F,R,73,4.0,3.0,27.0,0.5,1454,0.708,1.207,NaN
8,OAS1_0010_MR1,M,R,74,5.0,2.0,30.0,0.0,1636,0.689,1.073,NaN
9,OAS1_0011_MR1,F,R,52,3.0,2.0,30.0,0.0,1321,0.827,1.329,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
411,OAS1_0453_MR1,F,R,70,1.0,4.0,29.0,0.5,1295,0.748,1.355,NaN
412,OAS1_0454_MR1,F,R,73,3.0,2.0,23.0,0.5,1536,0.730,1.142,NaN
413,OAS1_0455_MR1,F,R,61,2.0,4.0,28.0,0.0,1354,0.825,1.297,NaN
414,OAS1_0456_MR1,M,R,61,5.0,2.0,30.0,0.0,1637,0.780,1.072,NaN
415,OAS1_0457_MR1,F,R,62,3.0,3.0,26.0,0.0,1372,0.766,1.279,NaN

In [6]:
diagnosed_and_clear_df.shape

(233, 12)

In [7]:
diagnosed_and_clear_df = diagnosed_and_clear_df[diagnosed_and_clear_df["CDR"] >= 0]
diagnosed_and_clear_df = diagnosed_and_clear_df[diagnosed_and_clear_df["CDR"] != 0.5]

In [8]:
diagnosed_and_clear_df

,ID,M/F,Hand,Age,Educ,SES,MMSE,CDR,eTIV,nWBV,ASF,Delay
0,OAS1_0001_MR1,F,R,74,2.0,3.0,29.0,0.0,1344,0.743,1.306,NaN
1,OAS1_0002_MR1,F,R,55,4.0,1.0,29.0,0.0,1147,0.810,1.531,NaN
8,OAS1_0010_MR1,M,R,74,5.0,2.0,30.0,0.0,1636,0.689,1.073,NaN
9,OAS1_0011_MR1,F,R,52,3.0,2.0,30.0,0.0,1321,0.827,1.329,NaN
11,OAS1_0013_MR1,F,R,81,5.0,2.0,30.0,0.0,1664,0.679,1.055,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
407,OAS1_0449_MR1,F,R,71,3.0,4.0,29.0,0.0,1264,0.818,1.388,NaN
410,OAS1_0452_MR1,M,R,75,1.0,4.0,22.0,1.0,1656,0.762,1.060,NaN
413,OAS1_0455_MR1,F,R,61,2.0,4.0,28.0,0.0,1354,0.825,1.297,NaN
414,OAS1_0456_MR1,M,R,61,5.0,2.0,30.0,0.0,1637,0.780,1.072,NaN
415,OAS1_0457_MR1,F,R,62,3.0,3.0,26.0,0.0,1372,0.766,1.279,NaN

In [9]:
diagnosed_df = oasis[oasis["CDR"] == 1]

In [10]:
diagnosed_df

,ID,M/F,Hand,Age,Educ,SES,MMSE,CDR,eTIV,nWBV,ASF,Delay
25,OAS1_0028_MR1,F,R,86,2.0,4.0,27.0,1.0,1449,0.738,1.211,NaN
28,OAS1_0031_MR1,M,R,88,1.0,4.0,26.0,1.0,1419,0.674,1.236,NaN
32,OAS1_0035_MR1,F,R,84,3.0,2.0,28.0,1.0,1402,0.695,1.252,NaN
47,OAS1_0052_MR1,F,R,78,1.0,5.0,23.0,1.0,1462,0.697,1.200,NaN
48,OAS1_0053_MR1,F,R,83,1.0,4.0,21.0,1.0,1384,0.699,1.268,NaN
51,OAS1_0056_MR1,F,R,72,3.0,3.0,15.0,1.0,1324,0.668,1.325,NaN
62,OAS1_0067_MR1,F,R,71,4.0,1.0,27.0,1.0,1549,0.730,1.133,NaN
68,OAS1_0073_MR1,F,R,69,2.0,4.0,21.0,1.0,1495,0.655,1.174,NaN
113,OAS1_0122_MR1,F,R,83,5.0,2.0,22.0,1.0,1377,0.715,1.274,NaN
124,OAS1_0134_MR1,M,R,80,2.0,4.0,20.0,1.0,1494,0.665,1.175,NaN
127,OAS1_0137_MR1,F,R,87,2.0,3.0,22.0,1.0,1499,0.672,1.171,NaN
169,OAS1_0184_MR1,F,R,65,2.0,NaN,16.0,1.0,1521,0.669,1.154,NaN
170,OAS1_0185_MR1,F,R,78,2.0,4.0,17.0,1.0,1314,0.739,1.336,NaN
203,OAS1_0223_MR1,M,R,84,2.0,NaN,20.0,1.0,1641,0.703,1.070,NaN
241,OAS1_0268_MR1,M,R,78,2.0,3.0,23.0,1.0,1491,0.715,1.177,NaN
242,OAS1_0269_MR1,F,R,72,1.0,4.0,21.0,1.0,1489,0.683,1.179,NaN
250,OAS1_0278_MR1,F,R,96,5.0,1.0,26.0,1.0,1465,0.684,1.198,NaN
263,OAS1_0291_MR1,F,R,73,2.0,2.0,19.0,1.0,1274,0.745,1.377,NaN
286,OAS1_0316_MR1,F,R,72,4.0,2.0,22.0,1.0,1493,0.690,1.176,NaN
337,OAS1_0373_MR1,F,R,80,3.0,2.0,20.0,1.0,1732,0.692,1.013,NaN
346,OAS1_0382_MR1,F,R,67,4.0,NaN,15.0,1.0,1288,0.763,1.362,NaN
352,OAS1_0388_MR1,F,R,77,2.0,4.0,22.0,1.0,1350,0.736,1.300,NaN
361,OAS1_0399_MR1,M,R,78,2.0,NaN,29.0,1.0,1569,0.706,1.119,NaN
367,OAS1_0405_MR1,M,R,77,5.0,1.0,23.0,1.0,1713,0.761,1.024,NaN
384,OAS1_0424_MR1,M,R,75,4.0,1.0,20.0,1.0,1613,0.715,1.088,NaN
385,OAS1_0425_MR1,F,R,78,1.0,4.0,23.0,1.0,1461,0.715,1.201,NaN
389,OAS1_0430_MR1,M,R,71,4.0,1.0,17.0,1.0,1562,0.687,1.123,NaN
410,OAS1_0452_MR1,M,R,75,1.0,4.0,22.0,1.0,1656,0.762,1.060,NaN

In [11]:
diagnosed_df.shape

(28, 12)

In [12]:
# # removed Delay and Hand as they seem insignificant 
# df.drop(["Hand", "Delay"], axis = 1, inplace = True)

# # remove ID, N/A rows, and CDR of 0.5 and 2 
# df.dropna(inplace = True)
# df.drop(["ID"], axis = 1, inplace = True)
# df = df[df["CDR"] != 0.5]
# df = df[df["CDR"] != 2]

# # It's very unlikely for people below age 65 to get AD
# df = df[df["Age"] >= 65]

# # I noticed none with 30.0 MMSE have CDR 1, so let's drop it
# df = df[df["MMSE"] < 30]

# # Not sure if this is correct
# df = df[df["eTIV"] < 1750]
# df = df[df["nWBV"] < 0.8]
# df = df[df["ASF"] < 1.4]
# df # 68 x 9

In [13]:
diagnosed_and_clear_df.drop(columns=["Hand", "Delay"], inplace = True)

In [14]:
diagnosed_and_clear_df

                ID M/F  Age  Educ  SES  MMSE  CDR  eTIV   nWBV    ASF
0    OAS1_0001_MR1   F   74   2.0  3.0  29.0  0.0  1344  0.743  1.306
1    OAS1_0002_MR1   F   55   4.0  1.0  29.0  0.0  1147  0.810  1.531
8    OAS1_0010_MR1   M   74   5.0  2.0  30.0  0.0  1636  0.689  1.073
9    OAS1_0011_MR1   F   52   3.0  2.0  30.0  0.0  1321  0.827  1.329
11   OAS1_0013_MR1   F   81   5.0  2.0  30.0  0.0  1664  0.679  1.055
..             ...  ..  ...   ...  ...   ...  ...   ...    ...    ...
407  OAS1_0449_MR1   F   71   3.0  4.0  29.0  0.0  1264  0.818  1.388
410  OAS1_0452_MR1   M   75   1.0  4.0  22.0  1.0  1656  0.762  1.060
413  OAS1_0455_MR1   F   61   2.0  4.0  28.0  0.0  1354  0.825  1.297
414  OAS1_0456_MR1   M   61   5.0  2.0  30.0  0.0  1637  0.780  1.072
415  OAS1_0457_MR1   F   62   3.0  3.0  26.0  0.0  1372  0.766  1.279

[163 rows x 10 columns]

In [15]:
diagnosed_and_clear_df = diagnosed_and_clear_df[diagnosed_and_clear_df["Age"] >= 65]

In [16]:
diagnosed_and_clear_df

                ID M/F  Age  Educ  SES  MMSE  CDR  eTIV   nWBV    ASF
0    OAS1_0001_MR1   F   74   2.0  3.0  29.0  0.0  1344  0.743  1.306
8    OAS1_0010_MR1   M   74   5.0  2.0  30.0  0.0  1636  0.689  1.073
11   OAS1_0013_MR1   F   81   5.0  2.0  30.0  0.0  1664  0.679  1.055
17   OAS1_0019_MR1   F   89   5.0  1.0  30.0  0.0  1536  0.715  1.142
25   OAS1_0028_MR1   F   86   2.0  4.0  27.0  1.0  1449  0.738  1.211
..             ...  ..  ...   ...  ...   ...  ...   ...    ...    ...
396  OAS1_0438_MR1   F   66   5.0  2.0  29.0  0.0  1191  0.787  1.474
403  OAS1_0445_MR1   F   90   1.0  2.0  29.0  0.0  1362  0.673  1.289
404  OAS1_0446_MR1   F   80   2.0  4.0  30.0  0.0  1390  0.748  1.263
407  OAS1_0449_MR1   F   71   3.0  4.0  29.0  0.0  1264  0.818  1.388
410  OAS1_0452_MR1   M   75   1.0  4.0  22.0  1.0  1656  0.762  1.060

[115 rows x 10 columns]

In [17]:
diagnosed_df.agg({"min", "max"})

,ID,M/F,Hand,Age,Educ,SES,MMSE,CDR,eTIV,nWBV,ASF,Delay
min,OAS1_0028_MR1,F,R,65,1.0,1.0,15.0,1.0,1274,0.655,1.013,NaN
max,OAS1_0452_MR1,M,R,96,5.0,5.0,29.0,1.0,1732,0.763,1.377,NaN

In [18]:
diagnosed_and_clear_df = diagnosed_and_clear_df[diagnosed_and_clear_df["MMSE"] >= 15]

In [19]:
diagnosed_and_clear_df = diagnosed_and_clear_df[diagnosed_and_clear_df["MMSE"] <= 29]

In [20]:
diagnosed_and_clear_df

                ID M/F  Age  Educ  SES  MMSE  CDR  eTIV   nWBV    ASF
0    OAS1_0001_MR1   F   74   2.0  3.0  29.0  0.0  1344  0.743  1.306
25   OAS1_0028_MR1   F   86   2.0  4.0  27.0  1.0  1449  0.738  1.211
27   OAS1_0030_MR1   F   65   2.0  3.0  29.0  0.0  1392  0.764  1.261
28   OAS1_0031_MR1   M   88   1.0  4.0  26.0  1.0  1419  0.674  1.236
29   OAS1_0032_MR1   M   89   4.0  1.0  28.0  0.0  1631  0.682  1.076
..             ...  ..  ...   ...  ...   ...  ...   ...    ...    ...
389  OAS1_0430_MR1   M   71   4.0  1.0  17.0  1.0  1562  0.687  1.123
396  OAS1_0438_MR1   F   66   5.0  2.0  29.0  0.0  1191  0.787  1.474
403  OAS1_0445_MR1   F   90   1.0  2.0  29.0  0.0  1362  0.673  1.289
407  OAS1_0449_MR1   F   71   3.0  4.0  29.0  0.0  1264  0.818  1.388
410  OAS1_0452_MR1   M   75   1.0  4.0  22.0  1.0  1656  0.762  1.060

[82 rows x 10 columns]

In [21]:
diagnosed_and_clear_df = diagnosed_and_clear_df[diagnosed_and_clear_df["ASF"] >= 1.013]

In [22]:
diagnosed_and_clear_df

                ID M/F  Age  Educ  SES  MMSE  CDR  eTIV   nWBV    ASF
0    OAS1_0001_MR1   F   74   2.0  3.0  29.0  0.0  1344  0.743  1.306
25   OAS1_0028_MR1   F   86   2.0  4.0  27.0  1.0  1449  0.738  1.211
27   OAS1_0030_MR1   F   65   2.0  3.0  29.0  0.0  1392  0.764  1.261
28   OAS1_0031_MR1   M   88   1.0  4.0  26.0  1.0  1419  0.674  1.236
29   OAS1_0032_MR1   M   89   4.0  1.0  28.0  0.0  1631  0.682  1.076
..             ...  ..  ...   ...  ...   ...  ...   ...    ...    ...
389  OAS1_0430_MR1   M   71   4.0  1.0  17.0  1.0  1562  0.687  1.123
396  OAS1_0438_MR1   F   66   5.0  2.0  29.0  0.0  1191  0.787  1.474
403  OAS1_0445_MR1   F   90   1.0  2.0  29.0  0.0  1362  0.673  1.289
407  OAS1_0449_MR1   F   71   3.0  4.0  29.0  0.0  1264  0.818  1.388
410  OAS1_0452_MR1   M   75   1.0  4.0  22.0  1.0  1656  0.762  1.060

[79 rows x 10 columns]

In [23]:
diagnosed_and_clear_df = diagnosed_and_clear_df[diagnosed_and_clear_df["ASF"] <= 1.377]

In [24]:
diagnosed_and_clear_df

                ID M/F  Age  Educ  SES  MMSE  CDR  eTIV   nWBV    ASF
0    OAS1_0001_MR1   F   74   2.0  3.0  29.0  0.0  1344  0.743  1.306
25   OAS1_0028_MR1   F   86   2.0  4.0  27.0  1.0  1449  0.738  1.211
27   OAS1_0030_MR1   F   65   2.0  3.0  29.0  0.0  1392  0.764  1.261
28   OAS1_0031_MR1   M   88   1.0  4.0  26.0  1.0  1419  0.674  1.236
29   OAS1_0032_MR1   M   89   4.0  1.0  28.0  0.0  1631  0.682  1.076
..             ...  ..  ...   ...  ...   ...  ...   ...    ...    ...
386  OAS1_0426_MR1   F   82   5.0  2.0  29.0  0.0  1316  0.791  1.334
387  OAS1_0428_MR1   F   84   4.0  3.0  28.0  0.0  1500  0.751  1.170
389  OAS1_0430_MR1   M   71   4.0  1.0  17.0  1.0  1562  0.687  1.123
403  OAS1_0445_MR1   F   90   1.0  2.0  29.0  0.0  1362  0.673  1.289
410  OAS1_0452_MR1   M   75   1.0  4.0  22.0  1.0  1656  0.762  1.060

[72 rows x 10 columns]

In [25]:
diagnosed_df.agg({"min", "max"})

,ID,M/F,Hand,Age,Educ,SES,MMSE,CDR,eTIV,nWBV,ASF,Delay
min,OAS1_0028_MR1,F,R,65,1.0,1.0,15.0,1.0,1274,0.655,1.013,NaN
max,OAS1_0452_MR1,M,R,96,5.0,5.0,29.0,1.0,1732,0.763,1.377,NaN

In [26]:
diagnosed_and_clear_df = diagnosed_and_clear_df[diagnosed_and_clear_df["eTIV"] <= 1732]

In [27]:
diagnosed_and_clear_df

                ID M/F  Age  Educ  SES  MMSE  CDR  eTIV   nWBV    ASF
0    OAS1_0001_MR1   F   74   2.0  3.0  29.0  0.0  1344  0.743  1.306
25   OAS1_0028_MR1   F   86   2.0  4.0  27.0  1.0  1449  0.738  1.211
27   OAS1_0030_MR1   F   65   2.0  3.0  29.0  0.0  1392  0.764  1.261
28   OAS1_0031_MR1   M   88   1.0  4.0  26.0  1.0  1419  0.674  1.236
29   OAS1_0032_MR1   M   89   4.0  1.0  28.0  0.0  1631  0.682  1.076
..             ...  ..  ...   ...  ...   ...  ...   ...    ...    ...
386  OAS1_0426_MR1   F   82   5.0  2.0  29.0  0.0  1316  0.791  1.334
387  OAS1_0428_MR1   F   84   4.0  3.0  28.0  0.0  1500  0.751  1.170
389  OAS1_0430_MR1   M   71   4.0  1.0  17.0  1.0  1562  0.687  1.123
403  OAS1_0445_MR1   F   90   1.0  2.0  29.0  0.0  1362  0.673  1.289
410  OAS1_0452_MR1   M   75   1.0  4.0  22.0  1.0  1656  0.762  1.060

[72 rows x 10 columns]

In [28]:
diagnosed_and_clear_df = diagnosed_and_clear_df[diagnosed_and_clear_df["eTIV"] >= 1274]

In [29]:
diagnosed_and_clear_df

                ID M/F  Age  Educ  SES  MMSE  CDR  eTIV   nWBV    ASF
0    OAS1_0001_MR1   F   74   2.0  3.0  29.0  0.0  1344  0.743  1.306
25   OAS1_0028_MR1   F   86   2.0  4.0  27.0  1.0  1449  0.738  1.211
27   OAS1_0030_MR1   F   65   2.0  3.0  29.0  0.0  1392  0.764  1.261
28   OAS1_0031_MR1   M   88   1.0  4.0  26.0  1.0  1419  0.674  1.236
29   OAS1_0032_MR1   M   89   4.0  1.0  28.0  0.0  1631  0.682  1.076
..             ...  ..  ...   ...  ...   ...  ...   ...    ...    ...
386  OAS1_0426_MR1   F   82   5.0  2.0  29.0  0.0  1316  0.791  1.334
387  OAS1_0428_MR1   F   84   4.0  3.0  28.0  0.0  1500  0.751  1.170
389  OAS1_0430_MR1   M   71   4.0  1.0  17.0  1.0  1562  0.687  1.123
403  OAS1_0445_MR1   F   90   1.0  2.0  29.0  0.0  1362  0.673  1.289
410  OAS1_0452_MR1   M   75   1.0  4.0  22.0  1.0  1656  0.762  1.060

[72 rows x 10 columns]

In [30]:
diagnosed_and_clear_df = diagnosed_and_clear_df[diagnosed_and_clear_df["nWBV"] <= 0.763]

In [31]:
diagnosed_and_clear_df

                ID M/F  Age  Educ  SES  MMSE  CDR  eTIV   nWBV    ASF
0    OAS1_0001_MR1   F   74   2.0  3.0  29.0  0.0  1344  0.743  1.306
25   OAS1_0028_MR1   F   86   2.0  4.0  27.0  1.0  1449  0.738  1.211
28   OAS1_0031_MR1   M   88   1.0  4.0  26.0  1.0  1419  0.674  1.236
29   OAS1_0032_MR1   M   89   4.0  1.0  28.0  0.0  1631  0.682  1.076
30   OAS1_0033_MR1   F   80   4.0  2.0  29.0  0.0  1323  0.735  1.326
32   OAS1_0035_MR1   F   84   3.0  2.0  28.0  1.0  1402  0.695  1.252
47   OAS1_0052_MR1   F   78   1.0  5.0  23.0  1.0  1462  0.697  1.200
48   OAS1_0053_MR1   F   83   1.0  4.0  21.0  1.0  1384  0.699  1.268
51   OAS1_0056_MR1   F   72   3.0  3.0  15.0  1.0  1324  0.668  1.325
60   OAS1_0065_MR1   M   90   2.0  3.0  25.0  0.0  1301  0.645  1.349
62   OAS1_0067_MR1   F   71   4.0  1.0  27.0  1.0  1549  0.730  1.133
68   OAS1_0073_MR1   F   69   2.0  4.0  21.0  1.0  1495  0.655  1.174
102  OAS1_0110_MR1   M   84   3.0  4.0  28.0  0.0  1483  0.697  1.183
104  OAS1_0112_MR1   F   69   5.0  2.0  29.0  0.0  1536  0.733  1.143
113  OAS1_0122_MR1   F   83   5.0  2.0  22.0  1.0  1377  0.715  1.274
124  OAS1_0134_MR1   M   80   2.0  4.0  20.0  1.0  1494  0.665  1.175
127  OAS1_0137_MR1   F   87   2.0  3.0  22.0  1.0  1499  0.672  1.171
128  OAS1_0138_MR1   M   80   2.0  4.0  28.0  0.0  1689  0.706  1.039
136  OAS1_0146_MR1   F   82   5.0  1.0  28.0  0.0  1513  0.742  1.160
158  OAS1_0170_MR1   M   71   2.0  4.0  29.0  0.0  1455  0.725  1.206
161  OAS1_0176_MR1   F   88   3.0  1.0  29.0  0.0  1398  0.712  1.255
169  OAS1_0184_MR1   F   65   2.0  NaN  16.0  1.0  1521  0.669  1.154
170  OAS1_0185_MR1   F   78   2.0  4.0  17.0  1.0  1314  0.739  1.336
171  OAS1_0186_MR1   M   84   5.0  1.0  29.0  0.0  1707  0.731  1.028
183  OAS1_0201_MR1   F   85   4.0  1.0  26.0  0.0  1460  0.754  1.202
194  OAS1_0212_MR1   F   74   3.0  NaN  28.0  0.0  1614  0.697  1.087
201  OAS1_0221_MR1   F   94   5.0  1.0  29.0  0.0  1474  0.696  1.190
203  OAS1_0223_MR1   M   84   2.0  NaN  20.0  1.0  1641  0.703  1.070
207  OAS1_0228_MR1   F   81   3.0  2.0  28.0  0.0  1486  0.759  1.181
222  OAS1_0244_MR1   F   80   4.0  2.0  29.0  0.0  1341  0.737  1.309
241  OAS1_0268_MR1   M   78   2.0  3.0  23.0  1.0  1491  0.715  1.177
242  OAS1_0269_MR1   F   72   1.0  4.0  21.0  1.0  1489  0.683  1.179
244  OAS1_0271_MR1   F   89   2.0  4.0  27.0  0.0  1329  0.740  1.320
250  OAS1_0278_MR1   F   96   5.0  1.0  26.0  1.0  1465  0.684  1.198
263  OAS1_0291_MR1   F   73   2.0  2.0  19.0  1.0  1274  0.745  1.377
270  OAS1_0299_MR1   F   90   2.0  3.0  29.0  0.0  1475  0.671  1.190
272  OAS1_0301_MR1   F   90   3.0  2.0  28.0  0.0  1495  0.761  1.174
286  OAS1_0316_MR1   F   72   4.0  2.0  22.0  1.0  1493  0.690  1.176
287  OAS1_0317_MR1   M   86   4.0  1.0  26.0  0.0  1501  0.702  1.169
298  OAS1_0330_MR1   F   80   1.0  5.0  27.0  0.0  1381  0.752  1.270
337  OAS1_0373_MR1   F   80   3.0  2.0  20.0  1.0  1732  0.692  1.013
346  OAS1_0382_MR1   F   67   4.0  NaN  15.0  1.0  1288  0.763  1.362
352  OAS1_0388_MR1   F   77   2.0  4.0  22.0  1.0  1350  0.736  1.300
361  OAS1_0399_MR1   M   78   2.0  NaN  29.0  1.0  1569  0.706  1.119
367  OAS1_0405_MR1   M   77   5.0  1.0  23.0  1.0  1713  0.761  1.024
383  OAS1_0423_MR1   M   75   2.0  4.0  28.0  0.0  1511  0.749  1.162
384  OAS1_0424_MR1   M   75   4.0  1.0  20.0  1.0  1613  0.715  1.088
385  OAS1_0425_MR1   F   78   1.0  4.0  23.0  1.0  1461  0.715  1.201
387  OAS1_0428_MR1   F   84   4.0  3.0  28.0  0.0  1500  0.751  1.170
389  OAS1_0430_MR1   M   71   4.0  1.0  17.0  1.0  1562  0.687  1.123
403  OAS1_0445_MR1   F   90   1.0  2.0  29.0  0.0  1362  0.673  1.289
410  OAS1_0452_MR1   M   75   1.0  4.0  22.0  1.0  1656  0.762  1.060

In [32]:
diagnosed_and_clear_df = diagnosed_and_clear_df[diagnosed_and_clear_df["nWBV"] >= 0.655]

In [33]:
diagnosed_and_clear_df

                ID M/F  Age  Educ  SES  MMSE  CDR  eTIV   nWBV    ASF
0    OAS1_0001_MR1   F   74   2.0  3.0  29.0  0.0  1344  0.743  1.306
25   OAS1_0028_MR1   F   86   2.0  4.0  27.0  1.0  1449  0.738  1.211
28   OAS1_0031_MR1   M   88   1.0  4.0  26.0  1.0  1419  0.674  1.236
29   OAS1_0032_MR1   M   89   4.0  1.0  28.0  0.0  1631  0.682  1.076
30   OAS1_0033_MR1   F   80   4.0  2.0  29.0  0.0  1323  0.735  1.326
32   OAS1_0035_MR1   F   84   3.0  2.0  28.0  1.0  1402  0.695  1.252
47   OAS1_0052_MR1   F   78   1.0  5.0  23.0  1.0  1462  0.697  1.200
48   OAS1_0053_MR1   F   83   1.0  4.0  21.0  1.0  1384  0.699  1.268
51   OAS1_0056_MR1   F   72   3.0  3.0  15.0  1.0  1324  0.668  1.325
62   OAS1_0067_MR1   F   71   4.0  1.0  27.0  1.0  1549  0.730  1.133
68   OAS1_0073_MR1   F   69   2.0  4.0  21.0  1.0  1495  0.655  1.174
102  OAS1_0110_MR1   M   84   3.0  4.0  28.0  0.0  1483  0.697  1.183
104  OAS1_0112_MR1   F   69   5.0  2.0  29.0  0.0  1536  0.733  1.143
113  OAS1_0122_MR1   F   83   5.0  2.0  22.0  1.0  1377  0.715  1.274
124  OAS1_0134_MR1   M   80   2.0  4.0  20.0  1.0  1494  0.665  1.175
127  OAS1_0137_MR1   F   87   2.0  3.0  22.0  1.0  1499  0.672  1.171
128  OAS1_0138_MR1   M   80   2.0  4.0  28.0  0.0  1689  0.706  1.039
136  OAS1_0146_MR1   F   82   5.0  1.0  28.0  0.0  1513  0.742  1.160
158  OAS1_0170_MR1   M   71   2.0  4.0  29.0  0.0  1455  0.725  1.206
161  OAS1_0176_MR1   F   88   3.0  1.0  29.0  0.0  1398  0.712  1.255
169  OAS1_0184_MR1   F   65   2.0  NaN  16.0  1.0  1521  0.669  1.154
170  OAS1_0185_MR1   F   78   2.0  4.0  17.0  1.0  1314  0.739  1.336
171  OAS1_0186_MR1   M   84   5.0  1.0  29.0  0.0  1707  0.731  1.028
183  OAS1_0201_MR1   F   85   4.0  1.0  26.0  0.0  1460  0.754  1.202
194  OAS1_0212_MR1   F   74   3.0  NaN  28.0  0.0  1614  0.697  1.087
201  OAS1_0221_MR1   F   94   5.0  1.0  29.0  0.0  1474  0.696  1.190
203  OAS1_0223_MR1   M   84   2.0  NaN  20.0  1.0  1641  0.703  1.070
207  OAS1_0228_MR1   F   81   3.0  2.0  28.0  0.0  1486  0.759  1.181
222  OAS1_0244_MR1   F   80   4.0  2.0  29.0  0.0  1341  0.737  1.309
241  OAS1_0268_MR1   M   78   2.0  3.0  23.0  1.0  1491  0.715  1.177
242  OAS1_0269_MR1   F   72   1.0  4.0  21.0  1.0  1489  0.683  1.179
244  OAS1_0271_MR1   F   89   2.0  4.0  27.0  0.0  1329  0.740  1.320
250  OAS1_0278_MR1   F   96   5.0  1.0  26.0  1.0  1465  0.684  1.198
263  OAS1_0291_MR1   F   73   2.0  2.0  19.0  1.0  1274  0.745  1.377
270  OAS1_0299_MR1   F   90   2.0  3.0  29.0  0.0  1475  0.671  1.190
272  OAS1_0301_MR1   F   90   3.0  2.0  28.0  0.0  1495  0.761  1.174
286  OAS1_0316_MR1   F   72   4.0  2.0  22.0  1.0  1493  0.690  1.176
287  OAS1_0317_MR1   M   86   4.0  1.0  26.0  0.0  1501  0.702  1.169
298  OAS1_0330_MR1   F   80   1.0  5.0  27.0  0.0  1381  0.752  1.270
337  OAS1_0373_MR1   F   80   3.0  2.0  20.0  1.0  1732  0.692  1.013
346  OAS1_0382_MR1   F   67   4.0  NaN  15.0  1.0  1288  0.763  1.362
352  OAS1_0388_MR1   F   77   2.0  4.0  22.0  1.0  1350  0.736  1.300
361  OAS1_0399_MR1   M   78   2.0  NaN  29.0  1.0  1569  0.706  1.119
367  OAS1_0405_MR1   M   77   5.0  1.0  23.0  1.0  1713  0.761  1.024
383  OAS1_0423_MR1   M   75   2.0  4.0  28.0  0.0  1511  0.749  1.162
384  OAS1_0424_MR1   M   75   4.0  1.0  20.0  1.0  1613  0.715  1.088
385  OAS1_0425_MR1   F   78   1.0  4.0  23.0  1.0  1461  0.715  1.201
387  OAS1_0428_MR1   F   84   4.0  3.0  28.0  0.0  1500  0.751  1.170
389  OAS1_0430_MR1   M   71   4.0  1.0  17.0  1.0  1562  0.687  1.123
403  OAS1_0445_MR1   F   90   1.0  2.0  29.0  0.0  1362  0.673  1.289
410  OAS1_0452_MR1   M   75   1.0  4.0  22.0  1.0  1656  0.762  1.060

In [34]:
diagnosed_and_clear_df.shape

(51, 10)

In [35]:
diagnosed_and_clear_df.to_csv('selected_data.csv', index=False)